<config>
	<!--
		(c) 2007 TUFaT.com, All Rights Reserved. Unauthorized redistribution is 
		prohibited.
	-->

	<!-- true / false -->
	<auto_start>false</auto_start>

	<player_skin>./wplayer/skins/skin1.swf</player_skin>

	<main_title>MUSICA</main_title>
	<playlist_title>Tropicales</playlist_title>
	<time_text>CARGANDO</time_text>
	<pan_labels>Iz,Dr</pan_labels>

	<!-- must be an integer 1 - 20 -->
	<scroller_speed>3</scroller_speed>	
	   <scroller_marquee_content>#TRACK_NAME#</scroller_marquee_content>

	<!--Repeat button enabled-->
	<!-- true / false -->
	<repeat_is_enabled>false</repeat_is_enabled>

	<!--Shuffle button enabled-->
	<!-- true / false -->
	<shuffle_is_enabled>true</shuffle_is_enabled>
	
	<!-- must be an integer 0 .. 100 -->
	<default_volume>60</default_volume>

	<!-- must be an integer -100 .. 100 -->
	<default_pan>0</default_pan>

	<!--PLAYLIST 
		Items should follow this format:
	        path_to_mp3_file;Title_of_mp3_file
	-->
	<play_list>
		<item>http://www.andresmarquez.com/wplayer/music/Alejandra_Lerner_-_Volver_a_empezar.mp3;Alejandra Lerner - Volver a empezar</item>
<item>http://www.andresmarquez.com/wplayer/music/Alejandro_Fernandez_y_Gloria_Estefan_-_En_el_Jardin.mp3;Alejandro Fernandez y Gloria Estefan - En el Jardin</item>
<item>http://www.andresmarquez.com/wplayer/music/Alejandro_Fernandez_y_Julio_Iglesias_-_Dos_corazones_dos_historias.mp3;Alejandro Fernandez y Julio Iglesias - Dos corazones dos historias</item>
<item>http://www.andresmarquez.com/wplayer/music/Alex_ubago_-_Aunque_no_te_pueda_ver.mp3;Alex ubago - Aunque no te pueda ver</item>
<item>http://www.andresmarquez.com/wplayer/music/Alex_ubago_-_Es_por_ti.mp3;Alex ubago - Es por ti</item>
<item>http://www.andresmarquez.com/wplayer/music/Alexander_Acha_-_Te_amo.mp3;Alexander Acha - Te amo</item>
<item>http://www.andresmarquez.com/wplayer/music/Amaia_Montero_-_Quiero_ser.mp3;Amaia Montero - Quiero ser</item>
<item>http://www.andresmarquez.com/wplayer/music/Ana_y_Jaime_-_Amor_Amor.mp3;Ana y Jaime - Amor Amor</item>
<item>http://www.andresmarquez.com/wplayer/music/Andres_Cepeda_-_Dia_tras_dia_(en_vivo).mp3;Andres Cepeda - Dia tras dia (en vivo)</item>
<item>http://www.andresmarquez.com/wplayer/music/Andres_Cepeda_-_D¡a_tras_d¡a.mp3;Andres Cepeda - D¡a tras d¡a</item>
<item>http://www.andresmarquez.com/wplayer/music/Andres_Cepeda_-_Faltaran.mp3;Andres Cepeda - Faltaran</item>
<item>http://www.andresmarquez.com/wplayer/music/ANDRES_CEPEDA-ENFERMEDAD_DE_TI-VIDEO_OFICIAL..mp3;ANDRES CEPEDA-ENFERMEDAD DE TI-VIDEO OFICIAL.</item>
<item>http://www.andresmarquez.com/wplayer/music/Angelo_-_Si_Te_Vas_(Video_Oficial).mp3;Angelo - Si Te Vas (Video Oficial)</item>
<item>http://www.andresmarquez.com/wplayer/music/ar_Ft._Daddy_Yankee_-_Hasta_Abajo_(Official_Remix)(Original).mp3;ar Ft. Daddy Yankee - Hasta Abajo (Official Remix)(Original)</item>
<item>http://www.andresmarquez.com/wplayer/music/Armando_Manzanero_y_Alejandro_Sanz_-_Adoro.mp3;Armando Manzanero y Alejandro Sanz - Adoro</item>
<item>http://www.andresmarquez.com/wplayer/music/Axel_-_Amo.mp3;Axel - Amo</item>
<item>http://www.andresmarquez.com/wplayer/music/Axel_-_Tu_amor_por_siempre.mp3;Axel - Tu amor por siempre</item>
<item>http://www.andresmarquez.com/wplayer/music/Cabas_-_Bonita.mp3;Cabas - Bonita</item>
<item>http://www.andresmarquez.com/wplayer/music/Calle_13_-_Beso_de_desayuno.mp3;Calle 13 - Beso de desayuno</item>
<item>http://www.andresmarquez.com/wplayer/music/Calle_13_-_Tocarte_toda.mp3;Calle 13 - Tocarte toda</item>
<item>http://www.andresmarquez.com/wplayer/music/Camila_-_Coleccionista_de_canciones.mp3;Camila - Coleccionista de canciones</item>
<item>http://www.andresmarquez.com/wplayer/music/Camila_-_Todo_cambio.mp3;Camila - Todo cambio</item>
<item>http://www.andresmarquez.com/wplayer/music/canciones.txt;canciones</item>
<item>http://www.andresmarquez.com/wplayer/music/CARLOS_BAUTE_(_TE_REGALO_).mp3;CARLOS BAUTE ( TE REGALO )</item>
<item>http://www.andresmarquez.com/wplayer/music/Carlos_Baute_-_Tu_no_sabes_que_tanto.mp3;Carlos Baute - Tu no sabes que tanto</item>
<item>http://www.andresmarquez.com/wplayer/music/Carlos_Baute_y_Marta_Sanchez_-_Colgando_en_tus_manos.mp3;Carlos Baute y Marta Sanchez - Colgando en tus manos</item>
<item>http://www.andresmarquez.com/wplayer/music/Carlos_Vives_-_Voy_a_Olvidarme_de_m¡.mp3;Carlos Vives - Voy a Olvidarme de m¡</item>
<item>http://www.andresmarquez.com/wplayer/music/Chayanne_-Me_Enamor‚_de_ti.mp3;Chayanne -Me Enamor‚ de ti</item>
<item>http://www.andresmarquez.com/wplayer/music/CHAYANNE_ME_ENAMORE_DE_TI_VIDEO_OFICIAL_2010.mp3;CHAYANNE ME ENAMORE DE TI VIDEO OFICIAL 2010</item>
<item>http://www.andresmarquez.com/wplayer/music/Chenoa_-_Volverte_a_ver.mp3;Chenoa - Volverte a ver</item>
<item>http://www.andresmarquez.com/wplayer/music/Chenoa_y_Bisbal_-_Escondidos.mp3;Chenoa y Bisbal - Escondidos</item>
<item>http://www.andresmarquez.com/wplayer/music/Chino_y_Nacho_-_Lo_Que_No_Sabes_T£.mp3;Chino y Nacho - Lo Que No Sabes T£</item>
<item>http://www.andresmarquez.com/wplayer/music/Christina_Aguilera_-_Contigo_en_la_Distancia.mp3;Christina Aguilera - Contigo en la Distancia</item>
<item>http://www.andresmarquez.com/wplayer/music/Christina_Aguilera_-_Si_no_te_hubiera_conocido.mp3;Christina Aguilera - Si no te hubiera conocido</item>
<item>http://www.andresmarquez.com/wplayer/music/Compa¤ia_Ilimitada_-_Como_decirte.mp3;Compa¤ia Ilimitada - Como decirte</item>
<item>http://www.andresmarquez.com/wplayer/music/Daddy_Yankee_-_Llamado_de_emergencia.mp3;Daddy Yankee - Llamado de emergencia</item>
<item>http://www.andresmarquez.com/wplayer/music/Daddy_Yankee_-_Pose.mp3;Daddy Yankee - Pose</item>
<item>http://www.andresmarquez.com/wplayer/music/De_La_Ghetto_-Tu_Te_Imaginas.mp3;De La Ghetto -Tu Te Imaginas</item>
<item>http://www.andresmarquez.com/wplayer/music/Demi_Moore___Patrick_Swayze_-_Unchained_Melody.mp3;Demi Moore _ Patrick Swayze - Unchained Melody</item>
<item>http://www.andresmarquez.com/wplayer/music/Diana_Ross_y_Lionel_Richie_-_Endless_Love.mp3;Diana Ross y Lionel Richie - Endless Love</item>
<item>http://www.andresmarquez.com/wplayer/music/Diego_gonzalez_y_Miranda_cosgrove_Perdido_en_ti.mp3;Diego gonzalez y Miranda cosgrove Perdido en ti</item>
<item>http://www.andresmarquez.com/wplayer/music/Eddi_Vico_Tego_Zion_Yankee_Ivy_Wiso_Lennox_-_12_discipulos.mp3;Eddi Vico Tego Zion Yankee Ivy Wiso Lennox - 12 discipulos</item>
<item>http://www.andresmarquez.com/wplayer/music/Ednita_&_Natalia_Jimenez_-_NO.mp3;Ednita & Natalia Jimenez - NO</item>
<item>http://www.andresmarquez.com/wplayer/music/el_doctorado_tony_dize_official_video_pina_records.mp3;el doctorado tony dize official video pina records</item>
<item>http://www.andresmarquez.com/wplayer/music/Enur_feat._Natasja_-_Calabria_2007.mp3;Enur feat. Natasja - Calabria 2007</item>
<item>http://www.andresmarquez.com/wplayer/music/Fausto_-_Agua_Caliente.mp3;Fausto - Agua Caliente</item>
<item>http://www.andresmarquez.com/wplayer/music/Fonseca_-_Alma_de_hierro.mp3;Fonseca - Alma de hierro</item>
<item>http://www.andresmarquez.com/wplayer/music/Fonseca_-_Arroyito_(acustica).mp3;Fonseca - Arroyito (acustica)</item>
<item>http://www.andresmarquez.com/wplayer/music/Fonsi_Bisbal_Noel_Syntek_-_Aqui_estoy_yo.mp3;Fonsi Bisbal Noel Syntek - Aqui estoy yo</item>
<item>http://www.andresmarquez.com/wplayer/music/Francisco_Cespedes_y_Presuntos_Implicados_-_Nadie_como_tu.mp3;Francisco Cespedes y Presuntos Implicados - Nadie como tu</item>
<item>http://www.andresmarquez.com/wplayer/music/Franco_de_Vita_-_Cuando_Tus_Ojos_Me_Miran.mp3;Franco de Vita - Cuando Tus Ojos Me Miran</item>
<item>http://www.andresmarquez.com/wplayer/music/Franko_de_Vita_-_Te_Amo.mp3;Franko de Vita - Te Amo</item>
<item>http://www.andresmarquez.com/wplayer/music/Get_Busy_-_Sean_Paul.mp3;Get_Busy_-_Sean_Paul</item>
<item>http://www.andresmarquez.com/wplayer/music/gilberto_santa_rosa_-_te_amare.mp3;gilberto santa rosa - te amare</item>
<item>http://www.andresmarquez.com/wplayer/music/Gilberto_Santarosa_-_Almas_Gemelas.mp3;Gilberto Santarosa - Almas Gemelas</item>
<item>http://www.andresmarquez.com/wplayer/music/Gitana_-_Shakira_(Completa_con_arm¢nica_HQ).mp3;Gitana - Shakira (Completa con arm¢nica HQ)</item>
<item>http://www.andresmarquez.com/wplayer/music/Gitana_-_Shakira_(espa¤ol).mp3;Gitana - Shakira (espa¤ol)</item>
<item>http://www.andresmarquez.com/wplayer/music/IL_DIVO_-_Heroe.mp3;IL DIVO - Heroe</item>
<item>http://www.andresmarquez.com/wplayer/music/Jason_Mraz_-_I'm_Yours_[2008]_NEW.mp3;Jason Mraz - I'm Yours [2008]_NEW</item>
<item>http://www.andresmarquez.com/wplayer/music/Jason_Mraz_y_Colbie_Caillat_-_Lucky.mp3;Jason Mraz y Colbie Caillat - Lucky</item>
<item>http://www.andresmarquez.com/wplayer/music/Jason_Mraz_y_Ximena_Sari¤a_-_Lucky.mp3;Jason Mraz y Ximena Sari¤a - Lucky</item>
<item>http://www.andresmarquez.com/wplayer/music/Javier_Solis_-_Te_amare_toda_la_vida.mp3;Javier Solis - Te amare toda la vida</item>
<item>http://www.andresmarquez.com/wplayer/music/Jesse_y_Joy_-_Espacio_Sideral.mp3;Jesse y Joy - Espacio Sideral</item>
<item>http://www.andresmarquez.com/wplayer/music/Jesse_y_Joy_-_Outterspace.mp3;Jesse y Joy - Outterspace</item>
<item>http://www.andresmarquez.com/wplayer/music/Jorge_Celedon_-_El_invierno_pasado.mp3;Jorge Celedon - El invierno pasado</item>
<item>http://www.andresmarquez.com/wplayer/music/Jorge_Celedon_-_Te_perdone.mp3;Jorge Celedon - Te perdone</item>
<item>http://www.andresmarquez.com/wplayer/music/Jose_Feliciano_-_Mar_y_Cielo.mp3;Jose Feliciano - Mar y Cielo</item>
<item>http://www.andresmarquez.com/wplayer/music/Jose_Gaviria_-_Pensar_en_ti.mp3;Jose Gaviria - Pensar en ti</item>
<item>http://www.andresmarquez.com/wplayer/music/Jose_Luis_Perales_-_El_amor.mp3;Jose Luis Perales - El amor</item>
<item>http://www.andresmarquez.com/wplayer/music/Joss_Stone_-_L-O-V-E.mp3;Joss Stone - L-O-V-E</item>
<item>http://www.andresmarquez.com/wplayer/music/Juan_Luis_Guerra_-_Cuando_te_beso.mp3;Juan Luis Guerra - Cuando te beso</item>
<item>http://www.andresmarquez.com/wplayer/music/Juan_Luis_Guerra_-_Solo_tengo_ojos_para_ti.mp3;Juan Luis Guerra - Solo tengo ojos para ti</item>
<item>http://www.andresmarquez.com/wplayer/music/Juan_Pablo_Rodriguez_-_Estoy_aqui.mp3;Juan Pablo Rodriguez - Estoy aqui</item>
<item>http://www.andresmarquez.com/wplayer/music/Juanes_-_Gotas_De_Agua_Dulce.mp3;Juanes - Gotas De Agua Dulce</item>
<item>http://www.andresmarquez.com/wplayer/music/Juanes_-_Nada_Valgo_Sin_Tu_Amor.mp3;Juanes - Nada Valgo Sin Tu Amor</item>
<item>http://www.andresmarquez.com/wplayer/music/Kaleth_Morales_-_Mi_reina_consentida.mp3;Kaleth Morales - Mi reina consentida</item>
<item>http://www.andresmarquez.com/wplayer/music/Kaleth_Morales_-_Tronco_e'nota.mp3;Kaleth Morales - Tronco e'nota</item>
<item>http://www.andresmarquez.com/wplayer/music/Kaleth_Morales_y_Silvestre_Dangon_-_Se_va_a_formar.mp3;Kaleth Morales y Silvestre Dangon - Se va a formar</item>
<item>http://www.andresmarquez.com/wplayer/music/Kany_Garcia_-_Todo_basta.mp3;Kany Garcia - Todo basta</item>
<item>http://www.andresmarquez.com/wplayer/music/Kaoma_-_Lambada.mp3;Kaoma - Lambada</item>
<item>http://www.andresmarquez.com/wplayer/music/La_5a_Estacion_y_Marc_Anthony_-_Recuerdame.mp3;La 5a Estacion y Marc Anthony - Recuerdame</item>
<item>http://www.andresmarquez.com/wplayer/music/La_5ta_Estacion_-_Algo_mas.mp3;La 5ta Estacion - Algo mas</item>
<item>http://www.andresmarquez.com/wplayer/music/La_hija_del_mariachi_-_Rosario_-_Adoro.mp3;La hija del mariachi - Rosario - Adoro</item>
<item>http://www.andresmarquez.com/wplayer/music/La_hija_del_Mariachi_-_Sabes_una_cosa.mp3;La hija del Mariachi - Sabes una cosa</item>
<item>http://www.andresmarquez.com/wplayer/music/LatinGrammys_-_12_Discipulos.mp3;LatinGrammys - 12 Discipulos</item>
<item>http://www.andresmarquez.com/wplayer/music/Lenny_Kravitz_-_I_Belong_To_You_(Subtitulada_al_Espa¤ol).mp3;Lenny Kravitz - I Belong To You (Subtitulada al Espa¤ol)</item>
<item>http://www.andresmarquez.com/wplayer/music/Lleno_de_Sentimiento_-_Original.mp3;Lleno de Sentimiento - Original</item>
<item>http://www.andresmarquez.com/wplayer/music/Lu_-_Por_besarte.mp3;Lu - Por besarte</item>
<item>http://www.andresmarquez.com/wplayer/music/Luis_Fonsi_-_Abrazar_la_vida.mp3;Luis Fonsi - Abrazar la vida</item>
<item>http://www.andresmarquez.com/wplayer/music/Luis_Fonsi_-_No_me_doy_por_vencido.mp3;Luis Fonsi - No me doy por vencido</item>
<item>http://www.andresmarquez.com/wplayer/music/Mana_-_Bendita_tu_luz.mp3;Mana - Bendita tu luz</item>
<item>http://www.andresmarquez.com/wplayer/music/Manuela_Mejia_-_Tus_Ojos_NEW.mp3;Manuela Mejia - Tus Ojos_NEW</item>
<item>http://www.andresmarquez.com/wplayer/music/Marc_Anthony_-_Y_Huno_alguien.mp3;Marc Anthony - Y Huno alguien</item>
<item>http://www.andresmarquez.com/wplayer/music/Marisela_y_Marco_Antonio_Soliz_-_La_pareja_Ideal.mp3;Marisela y Marco Antonio Soliz - La pareja Ideal</item>
<item>http://www.andresmarquez.com/wplayer/music/Michael_Jackson_-_No_puedo_dejar_de_amarte_Salsa.mp3;Michael Jackson - No puedo dejar de amarte Salsa</item>
<item>http://www.andresmarquez.com/wplayer/music/Miranda_y_Julieta_Venegas_-_Perfecta.mp3;Miranda y Julieta Venegas - Perfecta</item>
<item>http://www.andresmarquez.com/wplayer/music/Nelly_Furtado_-_Te_busque.mp3;Nelly Furtado - Te busque</item>
<item>http://www.andresmarquez.com/wplayer/music/No_veo_la_hora_-_Noel_Schajris_(HD).mp3;No veo la hora - Noel Schajris (HD)</item>
<item>http://www.andresmarquez.com/wplayer/music/PASABORDO_EL_CALENDARIO.mp3;PASABORDO EL CALENDARIO</item>
<item>http://www.andresmarquez.com/wplayer/music/Peter_Manjarrez_-_Tragao_de_ti.mp3;Peter Manjarrez - Tragao de ti</item>
<item>http://www.andresmarquez.com/wplayer/music/Pipe_Pelaez_-_Amapola.mp3;Pipe Pelaez - Amapola</item>
<item>http://www.andresmarquez.com/wplayer/music/Pipe_Pelaez_-_Cuando_quieras_quiero.mp3;Pipe Pelaez - Cuando quieras quiero</item>
<item>http://www.andresmarquez.com/wplayer/music/Pipe_Pelaez_-_El_amor_m s_grande_del_planeta.mp3;Pipe Pelaez - El amor m s grande del planeta</item>
<item>http://www.andresmarquez.com/wplayer/music/Pipe_Pelaez_-_Lo_Tienes_Todo.mp3;Pipe Pelaez - Lo Tienes Todo</item>
<item>http://www.andresmarquez.com/wplayer/music/Pipe_Pelaez_-_Mejor_es_imposible.mp3;Pipe Pelaez - Mejor es imposible</item>
<item>http://www.andresmarquez.com/wplayer/music/Pipe_Pelaez_-_Te_amo_y_Te_amo(video).mp3;Pipe Pelaez - Te amo y Te amo(video)</item>
<item>http://www.andresmarquez.com/wplayer/music/Pipe_Pelaez_-_Te_amo_y_te_amo.mp3;Pipe Pelaez - Te amo y te amo</item>
<item>http://www.andresmarquez.com/wplayer/music/Pipe_Pelaez_-_Te_Amo.mp3;Pipe Pelaez - Te Amo</item>
<item>http://www.andresmarquez.com/wplayer/music/Presuntos_Implicados_-_En_la_Oscuridad.mp3;Presuntos Implicados - En la Oscuridad</item>
<item>http://www.andresmarquez.com/wplayer/music/Randy_Crawford_y_Presuntos_Implicados_-_Fallen.mp3;Randy Crawford y Presuntos Implicados - Fallen</item>
<item>http://www.andresmarquez.com/wplayer/music/Ricardo_Arjona_y_Chenoa_-_Pinguinos_en_la_cama.mp3;Ricardo Arjona y Chenoa - Pinguinos en la cama</item>
<item>http://www.andresmarquez.com/wplayer/music/Ricos_y_Pobres_-_Sera_porque_te_amo.mp3;Ricos y Pobres - Sera porque te amo</item>
<item>http://www.andresmarquez.com/wplayer/music/Rosana_-_Contigo.mp3;Rosana - Contigo</item>
<item>http://www.andresmarquez.com/wplayer/music/Rosana_-_Si_tu_no_estas_aqui.mp3;Rosana - Si tu no estas aqui</item>
<item>http://www.andresmarquez.com/wplayer/music/Ruben_Blades_-_Amor_y_Control.mp3;Ruben Blades - Amor y Control</item>
<item>http://www.andresmarquez.com/wplayer/music/Ruben_Blades_-_Chica_plastica.mp3;Ruben Blades - Chica plastica</item>
<item>http://www.andresmarquez.com/wplayer/music/Saavedra_-_De_eso_se_trata.mp3;Saavedra - De eso se trata</item>
<item>http://www.andresmarquez.com/wplayer/music/Saavedra_-_Faltas.mp3;Saavedra - Faltas</item>
<item>http://www.andresmarquez.com/wplayer/music/San_alejo_-_Me_gusta.mp3;San alejo - Me gusta</item>
<item>http://www.andresmarquez.com/wplayer/music/Sean_Paul_-_Agarra_Mi_Mano.mp3;Sean Paul - Agarra Mi Mano</item>
<item>http://www.andresmarquez.com/wplayer/music/Sean_Paul_-_Still_in_love.mp3;Sean Paul - Still in love</item>
<item>http://www.andresmarquez.com/wplayer/music/Shaila_Durcal_-_Por_ti.mp3;Shaila Durcal - Por ti</item>
<item>http://www.andresmarquez.com/wplayer/music/Shakira_-_Antologia.mp3;Shakira - Antologia</item>
<item>http://www.andresmarquez.com/wplayer/music/Shakira_-_Hay_amores.mp3;Shakira - Hay amores</item>
<item>http://www.andresmarquez.com/wplayer/music/Shakira_-_Loba.mp3;Shakira - Loba</item>
<item>http://www.andresmarquez.com/wplayer/music/Shakira_-_Que_me_quedes_tu.mp3;Shakira - Que me quedes tu</item>
<item>http://www.andresmarquez.com/wplayer/music/Shakira_-_She_wolf.mp3;Shakira - She wolf</item>
<item>http://www.andresmarquez.com/wplayer/music/shakira_gitana_official_video.mp3;shakira gitana official video</item>
<item>http://www.andresmarquez.com/wplayer/music/Si_Tu_No_Vuelves_-_Shakira___Miguel_Bos‚.mp3;Si Tu No Vuelves - Shakira _ Miguel Bos‚</item>
<item>http://www.andresmarquez.com/wplayer/music/Silvestre_Dangond_-_El_Original.mp3;Silvestre Dangond - El Original</item>
<item>http://www.andresmarquez.com/wplayer/music/Silvestre_Dangond_-_Tronco_e'nota.mp3;Silvestre Dangond - Tronco e'nota</item>
<item>http://www.andresmarquez.com/wplayer/music/Sin_Bandera_-_Que_me_alcance_la_vida.mp3;Sin Bandera - Que me alcance la vida</item>
<item>http://www.andresmarquez.com/wplayer/music/Sin_Bandera_-_Tocame_(detras_de_camara).mp3;Sin Bandera - Tocame (detras de camara)</item>
<item>http://www.andresmarquez.com/wplayer/music/Sin_Bandera_-_Tocame.mp3;Sin Bandera - Tocame</item>
<item>http://www.andresmarquez.com/wplayer/music/Sin_Bandera_y_Vivo_C_-_Juanto_a_ti.mp3;Sin Bandera y Vivo C - Juanto a ti</item>
<item>http://www.andresmarquez.com/wplayer/music/Soraya_-_Solo_por_ti.mp3;Soraya - Solo por ti</item>
<item>http://www.andresmarquez.com/wplayer/music/Timbiriche_-_Vuelvo_a_comenzar.mp3;Timbiriche - Vuelvo a comenzar</item>
<item>http://www.andresmarquez.com/wplayer/music/Tito_El_Bambino_-_Mi_Cama_Huele_A_Ti.mp3;Tito El Bambino - Mi Cama Huele A Ti</item>
<item>http://www.andresmarquez.com/wplayer/music/Tiziano_Ferro_-_Il_regalo_piu_grande.mp3;Tiziano Ferro - Il regalo piu grande</item>
<item>http://www.andresmarquez.com/wplayer/music/Tiziano_Ferro_y_Amaia_Montero_-_El_regalo_mas_grande_en_vivo.mp3;Tiziano Ferro y Amaia Montero - El regalo mas grande en vivo</item>
<item>http://www.andresmarquez.com/wplayer/music/Tiziano_Ferro_y_Amaia_Montero_-_El_regalo_mas_grande.mp3;Tiziano Ferro y Amaia Montero - El regalo mas grande</item>
<item>http://www.andresmarquez.com/wplayer/music/Tommy_Torres_-_Tarde_o_Temprano.mp3;Tommy Torres - Tarde o Temprano</item>
<item>http://www.andresmarquez.com/wplayer/music/Tommy_Torres_y_Jesse_&_Joy_-_Imparable.mp3;Tommy Torres y Jesse & Joy - Imparable</item>
<item>http://www.andresmarquez.com/wplayer/music/Tony_Haze_y_Calle_13_-_Tocarte_toda.mp3;Tony Haze y Calle 13 - Tocarte toda</item>
<item>http://www.andresmarquez.com/wplayer/music/tu_no_sabes_que_tanto_-_en_vivo..mp3;tu no sabes que tanto - en vivo.</item>
<item>http://www.andresmarquez.com/wplayer/music/Un_violinista_en_tu_tejado_-_Melendi_video_and_lyrics.mp3;Un violinista en tu tejado - Melendi video and lyrics</item>
<item>http://www.andresmarquez.com/wplayer/music/Valentina_Rendon_-_Venezzia.mp3;Valentina Rendon - Venezzia</item>
<item>http://www.andresmarquez.com/wplayer/music/Vicente_Fernandez_-_Motivos.mp3;Vicente Fernandez - Motivos</item>
<item>http://www.andresmarquez.com/wplayer/music/Victor_y_Leo_-_Nada_es_normal_HQ.mp3;Victor y Leo - Nada es normal HQ</item>
<item>http://www.andresmarquez.com/wplayer/music/Willie_Colon_y_Ruben_Blades_-_Plastico.mp3;Willie Colon y Ruben Blades - Plastico</item>

		
		
	</play_list>

</config>