<config>
	<!--
		(c) 2007 TUFaT.com, All Rights Reserved. Unauthorized redistribution is 
		prohibited.
	-->

	<!-- true / false -->
	<auto_start>false</auto_start>

	<player_skin>./wplayer/skins/skin1.swf</player_skin>

	<main_title>MUSICA</main_title>
	<playlist_title>Tropicales</playlist_title>
	<time_text>CARGANDO</time_text>
	<pan_labels>Iz,Dr</pan_labels>

	<!-- must be an integer 1 - 20 -->
	<scroller_speed>3</scroller_speed>	
	   <scroller_marquee_content>#TRACK_NAME#</scroller_marquee_content>

	<!--Repeat button enabled-->
	<!-- true / false -->
	<repeat_is_enabled>false</repeat_is_enabled>

	<!--Shuffle button enabled-->
	<!-- true / false -->
	<shuffle_is_enabled>true</shuffle_is_enabled>
	
	<!-- must be an integer 0 .. 100 -->
	<default_volume>60</default_volume>

	<!-- must be an integer -100 .. 100 -->
	<default_pan>0</default_pan>

	<!--PLAYLIST 
		Items should follow this format:
	        path_to_mp3_file;Title_of_mp3_file
	-->
	<play_list>
		<item>https://andresmarquez.helioho.st/old2/wplayer/music/Alejandra_Lerner_-_Volver_a_empezar.mp3;Alejandra Lerner - Volver a empezar</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Alejandro_Fernandez_y_Gloria_Estefan_-_En_el_Jardin.mp3;Alejandro Fernandez y Gloria Estefan - En el Jardin</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Alejandro_Fernandez_y_Julio_Iglesias_-_Dos_corazones_dos_historias.mp3;Alejandro Fernandez y Julio Iglesias - Dos corazones dos historias</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Alex_ubago_-_Aunque_no_te_pueda_ver.mp3;Alex ubago - Aunque no te pueda ver</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Alex_ubago_-_Es_por_ti.mp3;Alex ubago - Es por ti</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Alexander_Acha_-_Te_amo.mp3;Alexander Acha - Te amo</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Amaia_Montero_-_Quiero_ser.mp3;Amaia Montero - Quiero ser</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Ana_y_Jaime_-_Amor_Amor.mp3;Ana y Jaime - Amor Amor</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Andres_Cepeda_-_Dia_tras_dia_(en_vivo).mp3;Andres Cepeda - Dia tras dia (en vivo)</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Andres_Cepeda_-_D¡a_tras_d¡a.mp3;Andres Cepeda - D¡a tras d¡a</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Andres_Cepeda_-_Faltaran.mp3;Andres Cepeda - Faltaran</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/ANDRES_CEPEDA-ENFERMEDAD_DE_TI-VIDEO_OFICIAL..mp3;ANDRES CEPEDA-ENFERMEDAD DE TI-VIDEO OFICIAL.</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Angelo_-_Si_Te_Vas_(Video_Oficial).mp3;Angelo - Si Te Vas (Video Oficial)</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/ar_Ft._Daddy_Yankee_-_Hasta_Abajo_(Official_Remix)(Original).mp3;ar Ft. Daddy Yankee - Hasta Abajo (Official Remix)(Original)</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Armando_Manzanero_y_Alejandro_Sanz_-_Adoro.mp3;Armando Manzanero y Alejandro Sanz - Adoro</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Axel_-_Amo.mp3;Axel - Amo</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Axel_-_Tu_amor_por_siempre.mp3;Axel - Tu amor por siempre</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Cabas_-_Bonita.mp3;Cabas - Bonita</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Calle_13_-_Beso_de_desayuno.mp3;Calle 13 - Beso de desayuno</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Calle_13_-_Tocarte_toda.mp3;Calle 13 - Tocarte toda</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Camila_-_Coleccionista_de_canciones.mp3;Camila - Coleccionista de canciones</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Camila_-_Todo_cambio.mp3;Camila - Todo cambio</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/canciones.txt;canciones</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/CARLOS_BAUTE_(_TE_REGALO_).mp3;CARLOS BAUTE ( TE REGALO )</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Carlos_Baute_-_Tu_no_sabes_que_tanto.mp3;Carlos Baute - Tu no sabes que tanto</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Carlos_Baute_y_Marta_Sanchez_-_Colgando_en_tus_manos.mp3;Carlos Baute y Marta Sanchez - Colgando en tus manos</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Carlos_Vives_-_Voy_a_Olvidarme_de_m¡.mp3;Carlos Vives - Voy a Olvidarme de m¡</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Chayanne_-Me_Enamor‚_de_ti.mp3;Chayanne -Me Enamor‚ de ti</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/CHAYANNE_ME_ENAMORE_DE_TI_VIDEO_OFICIAL_2010.mp3;CHAYANNE ME ENAMORE DE TI VIDEO OFICIAL 2010</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Chenoa_-_Volverte_a_ver.mp3;Chenoa - Volverte a ver</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Chenoa_y_Bisbal_-_Escondidos.mp3;Chenoa y Bisbal - Escondidos</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Chino_y_Nacho_-_Lo_Que_No_Sabes_T£.mp3;Chino y Nacho - Lo Que No Sabes T£</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Christina_Aguilera_-_Contigo_en_la_Distancia.mp3;Christina Aguilera - Contigo en la Distancia</item>
<item>https://andresmarquez.helioho.st/old2/wplayer/music/Christina_Aguilera_-_Si_no_te_hubiera_conocido.mp3;Christina Aguilera - Si no te hubiera conocido</item>


		
		
	</play_list>

</config>